<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pageAboutStyle.css') }}">
</head>
<body>
	<nav>
        <img src="../static/ensias.png" width="61">
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
    </nav>
		<img class="image" src="static/about3.jpg" height:300px />
		<div class="arxiv">
			<h2 >About Dashboard arXiv:</h2><br>
			<p align=right style="line-height: 400%;">   As part of the end-of-year project, we created an arxiv</p>
				<p style="line-height: 400%;">dashboard to help a researcher of arxiv articles to know<br>
				more information about their research topic such as the <br>
				evolution of published and uptated articles,top categories…<br>
			   </p>
			   <h2>Dashboard arXiv Staff:</h2><br>
			   <p style="line-height: 400%;" >-Lamia Ben Hiba,Assistant Professor at ENSIAS<br>-Oussama Taouli,Engineering student at ENSIAS<br>-Abdennour El Malki, Engineering student at ENSIAS </p>
		</div>

</body>
</html>
