<!DOCTYPE html>
<html lang="en">
<head>
	<title>HELLO</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<div id="main">
	<nav>
        <img src="../static/ensias.png" width="61" >
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
    </nav>
    <form class="search" action="/send" method="POST">
        <input type="text" name="age" placeholder="Search here..." required>
        <button class="envoyer" type="submit">Search</button>
    </form>  
</div>
</body>
</html>
